<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Checkout\Controller\Index\Index">
        <plugin name="hideCheckout" type="DUna\Payments\Plugin\Checkout\Index" disabled="false"/>
    </type>
    <preference for="DUna\Payments\Api\CheckoutInterface" type="DUna\Payments\Model\Api\Checkout" />
    <preference for="DUna\Payments\Api\Data\CheckoutInterface" type="DUna\Payments\Model\Api\CheckoutData" />
    <preference for="DUna\Payments\Api\PostManagementInterface" type="DUna\Payments\Model\PostManagement"/>
    <preference for="DUna\Payments\Api\ShippingMethodsInterface" type="DUna\Payments\Model\Order\ShippingMethods"/>
    <!-- Custom Logger -->
    <type name="DUna\Payments\Logger\Logger">
        <arguments>
            <argument name="name" xsi:type="string">DUnaPayments</argument>
            <argument name="handlers"  xsi:type="array">
                <item name="system" xsi:type="object">DUna\Payments\Logger\Handler</item>
            </argument>
        </arguments>
    </type>
</config>
