<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route frontName="duna" id="duna_shippingmethod">
            <module name="DUna_Payments"/>
        </route>
    </router>
</config>
