<?xml version="1.0"?>
<!--
/**
 * Copyright Wagento Creative LLC ©, All rights reserved.
 * See COPYING.txt for license details.
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <!--CONFIG SECTION-->
        <section id="duna" translate="label" sortOrder="0"
                 showInDefault="1" showInWebsite="1" showInStore="1">
        <label>D-Una Settings</label>
        <tab>sales</tab>
        <resource>DUna_Payments::config_duna</resource>

            <!-- GENERAL -->
            <group id="config" translate="label"
                   showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Configuration</label>
                <field id="enable" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Module Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="mode" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Sandbox mode</label>
                    <source_model>DUna\Payments\Model\Config\Source\Sandobox</source_model>
                </field>
                <field id="private_key_stage" translate="label comment" type="obscure" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Private Key Stage</label>
                    <comment>On the server side of your application. (In backend. Example: When an order is tokenized)</comment>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                </field>
                <field id="public_key_stage" translate="label comment" type="obscure" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Public Key Stage</label>
                    <comment> The public will be used at the browser level (In frontend. Example: When configuring a JS plugin)</comment>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                </field>

                <field id="private_key_production" translate="label comment" type="obscure" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Private Key Production</label>
                    <comment>On the server side of your application. (In backend. Example: When an order is tokenized)</comment>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                </field>
                <field id="public_key_production" translate="label comment" type="obscure" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Public Key Production</label>
                    <comment> The public will be used at the browser level (In frontend. Example: When configuring a JS plugin)</comment>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                </field>
            </group>
        </section>
    </system>
</config>
